<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" >
</head>
<style>
    body{
        padding-top: 50px;
    }
</style>
<body class="container">
    

    <body class="container">
        <header >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="">EJS</a>
            </nav>
        </header>
    
        <main>
            <div class="jumbotron">
                <h1>Node avec EJS</h1>
                <P>Vamos aprender a trabalhar com arquivos EJS </P>
            </div>
        </main>
    
        <footer>
            <p class="text-center text-muted">Feito com amor by LeoCoding</p>
        </footer>

    </body>
    
</body>
</html>